.parentDiv {
  position: relative;
  margin-bottom: 2rem;
}

.fitSlider{
  height: 100%;
  width: 100%;
}

.child1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.child2 {
  position: absolute;
  bottom: 0px;
  left: 0;
  background-color: rgba(13, 13, 13, .7);
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.leftContent {
  display: flex;
}

.colArrow {
  color: white;
  font-size: large;
}

.backBtn {
  margin-right: 4rem;
  color: white;
}

.section-2 {
  color: white;
  display: flex;
  flex-direction: column;
}

.ml {
  margin-left: 0.5rem;
}

.section-2a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
}

.section-2a i {
  font-size: medium;
}

.section-2a-align {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.sideBtns {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
}

.leftbtn {
  margin-right: 1rem;
}

.centerIt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-0 {
  margin-top: 0 !important;
}

@media (max-width: 1100px) {
  .leftContent {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}

@media (max-width: 870px) {
  .sideBtns {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .leftbtn {
    margin-bottom: 0.4rem;
    margin-right: 0;
    width: 100%;
  }

  .rightbtn {
    width: 100%;
  }
}


@media (max-width: 645px) {
  .child2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .sideBtns {
    grid-template-columns: auto auto;
    grid-template-rows: auto ;
    margin-top: 1rem;
  }
}

@media (max-width: 510px) {
  .section-2a{
    flex-wrap: wrap;
    justify-content: start;
  }
  .sideBtns {
    grid-template-columns: auto ;
    grid-template-rows: auto auto ;
    margin-top: 1rem;
  }
}
